{% extends 'layout.html' %}

{% block content %}
    <h3>Column {{ column.column }} stats</h3>
    <table class="table table-condensed">
        <tr>
            <th>Name</td>
            <th>Value</td>
        </tr>
        {% set skip_fields = ['schema', 'table', 'column'] %}
        <tbody>
             {% for field, value in column.items() if field not in skip_fields %}
                 <tr>
                    <th>{{ field }}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
